<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1 id="welcome-message">Let's Focus!</h1>
    <div id="timer">25:00</div>
    <button id="start-pause-button" onclick="startPauseTimer()">Start</button>
    <button id="reset-button" onclick="resetTimer()">Reset</button>
    <div id="count">Pomodoros Completed: 0</div>

    <script src="../static/script.js"></script>
</body>
</html>